global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 2s
    timeout client 30s
    timeout server 30s

frontend sics_http
    bind *:80
    default_backend sics_backends

backend sics_backends
    option httpchk GET /healthz
    http-check expect status 200
    default-server inter 2s fall 2 rise 1
    server sics_remote 172.16.20.52:80 check
    server sics_local 172.16.10.101:80 check backup
